@import url('style0.css');

[class*="__container"] {
    max-width: 1140px;  /*1110 + 15 15 padding from left right*/
    margin: 0 auto;
    padding: 0px 15px;
}

body{
   /* font-family: Poppins;
    font-weight: 300;*/
    color: #000;
    background: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip; /*краще за hidden бо дозволяє працювати з sticky*/
}

.page{
    flex: 1 1 auto;
}

/*flashes*/
.flash{
    display:flex;
    justify-content:center;
    gap: 40px;
    padding: 15px;
    text-align:center;
    font-size:16px;
}
.success{
    background:#C3FFC1;
}
.error{
    background:#FFDDDD;
}
.close {
    background: transparent;
}
.flash__text{
}

/**/

.header {
}
.header__container {
}
.header__body {
    display: flex;
    flex-direction: column;
}
.header__logo {
    align-self: center;
    padding: 30px 0px;
    font-size: 32px;
}
.header__menu {

    padding: 20px 0px;
    color: #000;
}
.menu {
    
}
.menu__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu__list {
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: 24px;
}
.menu__item {
}
.menu__link {
}

/*FOOTER*/
.footer {
    background:#F2F2F2;
}
.footer__container {
}
.footer__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0px;
}
.footer__content {
    display: flex;
    flex-direction: column;
}
.content-footer {
}
.content-footer__title {
    font-size: 24px;
    padding: 15px 0px;
}
.content-footer__text {
    max-width: 400px;
    line-height: 1.4;
}
.footer__menu {
}
.menu-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.menu-footer__item {
    display: flex;
    flex-direction: column;
}
.menu-footer__title {
    font-weight: 500;
    font-size: 18px;
}
.menu-footer__list {
    color: #BDC5CC;
    padding: 15px 0 0 0 ;
    display:flex;
    flex-direction:column;
    gap: 15px;

}
.list-menu-footer {
}
.list-menu-footer__item {
}
.menu-footer__social {
}
.social-menu-footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 0 0 0 ;
}
.social-menu-footer__item img:hover{
}

.social-menu-footer__item {
}
.footer__copy {
    border-top:1px solid #BDC5CC;
    padding: 20px;
    text-align: center;
}
/*FOOTER*/

.page {
    margin: 0px 0px;
}

/*all recipes on*/
.page__cards{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 50px;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.page__card{
    width: 305px;
    height: 315px;
    display:flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
    padding: 10px;
}
.drafts {
    opacity: 0.3;
    border: 1px dashed;
}
.card__image{
    width: 289px;
    height: 200px;
    overflow:hidden;
    border-radius: 16px;
}
.card__image img{
    max-width:100%;
    max-height:100%;
    width: 289px;
    height: 200px;
    justify-content: center;
    align-items: center;
    object-fit: cover; /* Розміщення та збереження пропорцій зображення */
    object-position: center;
    }

.body-card{
    display: flex;
    justify-content: space-between;
    gap:50px;
    padding: 0px 10px ;
}
.body-card__text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    }
.body-card__title{
    color: #252525;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    max-width: 150px;
    overflow-wrap: break-word;
}
.body-card__link{}
.body-card__time{
    color: #DC582A;
    font-size: 20px;
    font-weight: 600;
    line-height: 136.523%;
}

.body-card__icons{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.body-card__rating{
    color: #ADADAD;
    font-size: 12px;
    font-weight: 500;
}

.delete {
    background:red;
}

.body-card__rating:before{
    content: "";
    width: 16px;
    height: 16px;
    background: url('static/images/all_recipe/star.svg')
}
.body-card__buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;

}
.body-card__edit{
    background: #fff;}

.body-card__like{
    background: #fff;}

.body-card__comment{
    background: #fff;}

/*all recipes OFF*/


/*Recipe ON*/
.page__recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFF9F4;
    padding: 50px 50px 50px 20px;
}
.recipe__part{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 492px;
}

.part-recipe__title{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    max-width: 480px;
}
.title-part-recipe__text{
    color: #411F01;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
    line-height: 36.572px;
    text-transform: capitalize;
    max-width: 220px;
    overflow-wrap: break-word;
}
.title-part-recipe__icons{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.icons-title-part-recipe__item{
    display: flex;
    align-items: center;
    color: #3C322E;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    gap: 5px;
    }
.icons-title-part-recipe__item span{
    color: #3C322E;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.part-recipe__category{
    color: var(--text, #3C322E);
    font-size: 24px;
    font-weight: 500;
    max-width: 480px;
    overflow-wrap: break-word;
}
.part-recipe__category p{
    color: var(--text, #3C322E);
    font-size: 28px;
    font-weight: 600;
    max-width: 480px;
    overflow-wrap: break-word;
}
.part-recipe__description{}
.part-recipe__description p{
    color: var(--text, #3C322E);
    font-size: 24px;
    font-weight: 500;
    max-width: 480px;
    overflow-wrap: break-word;
}

.part-recipe__ingredients{
    display:flex;
    flex-direction:column;
    gap: 30px;
}
.ingredients-part-recipe__title{
    color: #411F01;
    font-size: 40px;
    font-weight: 800;
    line-height: 36.572px;
}
.ingredients-part-recipe__list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 20px;
}
.ingredients-part-recipe__item{
    color: #3C322E;
    font-size: 24px;
    font-weight: 500;
}
.ingredients-part-recipe__item::before{
    content:"- ";
}
/*Recipe OFF*/

/*Admin ON*/
.page__admin{
    display:grid;
    grid-template-columns: 1fr 3fr;
    background: #fff;
}
.admin__sidebar {
    padding: 15px;
    background: #f8f8f8;
    }
.sidebar__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sidebar__item{
    background: #c5c5c555;
    text-align: center;
    padding: 5px;
    color: white;
    }

.admin__content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    }
.content__cards{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content:center;
}
.content__card{
    min-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #7981cb;
    justify-content:center;
    padding: 12px;
    color: white;
    align-items: center;
}
.card__number{
    font-size: 24px;
}

/*Admin_users ON*/
h1 {
    font-size: 32px
}
/*Admin_users OFF*/

/*Admin_recipes ON*/
.table__title{
}
.table__body{
    margin-top: 20px;
}
.table__list{
    display:flex;
    flex-direction: column;
    gap: 16px;


}
.list-table__items{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-gap: 4px;
    background: #e8e8e8;
    padding: 8px;
    word-wrap: break-word;
}
.table__item{
}
.title{
    font-weight: 800;
    text-transform: capitalize;
}

/*Admin_recipes OFF*/

/*Admin_recipe_for_submit ON*/
.item-table__form{
    display:flex;
    flex-direction: column;
    gap: 4px;
}

.item-table_button{
    background: #3d3cc7;
    color: #fff;
    padding:4px;
    border-radius: 4px;
}
.item-table_button_secondary{
    background: #e21a36;
    color: #fff;
    padding:4px;
    border-radius: 4px;
}
/*Admin_recipe_for_submit OFF*/

/*Admin off*/


/*Recent recipes ON*/
.page__recent{
    display:flex;
    flex-direction: column;
    gap: 16px;
}
.page__title{}
/*Recent recipes OFF*/


/*CHECKBOXES ON*/
.container_check {
    max-width: 640px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "--";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "+";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}
/*CHECKBOXES OFF*/

/*CATEGORY ON*/
.card_category{
    border-radius: 50%;
    display:flex;
    gap: 0px;
    justify-content:center;
    align-items:center;
}
.card_category__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 90%;
}
.card_category__image img{
    max-height: 100%;
    object-fit: cover;
}
.card_category img:hover{
    transform: scale(1.05);
    transition: all ease .8s;
}

.body-card__title_category{
   text-align: center;
}
.body-card__link_category{
   text-align: center;
}
/*CATEGORY OFF*/