{% extends 'admin.html' %}

{% block admin_content %}
<div class="content__table table">
    <h1 class="table__title">Users</h1>
    <div class="table__body">
        <ul class="table__list list-table">
            <ul class="list-table__items title">id
                <li class="table__item title">email</li>
                <li class="table__item title">role</li>
                <li class="table__item title">firstname</li>
                <li class="table__item title">lastname</li>
                <li class="table__item title">phone</li>
                <li class="table__item title">Recipes</li>
            </ul>
            {% for user in users %}
            <ul class="list-table__items">{{user.id}}
                <li class="table__item">{{user.email}}</li>
                <li class="table__item">{{user.role}}</li>
                <li class="table__item">{{user.firstname}}</li>
                <li class="table__item">{{user.lastname}}</li>
                <li class="table__item">{{user.phone}}</li>
                <li class="table__item">{{user.recipes|length}}</li>
            </ul>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}









