{% extends 'admin.html' %}

{% block admin_content %}
<div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">

<!--    <img src="your-image-url-here.jpg">-->

    <form action="{{url_for('admin.dashboard_categories')}}" method="post" enctype="multipart/form-data">
      <div class="formbold-form-title">
        <h2 class="a">New category:</h2>
      </div>

      <div class="formbold-input-flex">
        <div>
          <label for="category_name" class="formbold-form-label">Category Name</label>
          <input type="text" name="category_name" id="category_name" class="formbold-form-input"/>
        </div>
          <div class="photos">
            <img src="/static/images/new_recipe/01.svg" alt="add photo">
            <label for="photo">Select image</label>
            <input type="file" name="photo" id="photo" accept=".jpeg, .png, .jpg">
        </div>
      </div>


        <button type="submit" class="formbold-btn" name="add_category" value="1">Add</button>

    </form>
    <form action="{{url_for('admin.dashboard_categories')}}" method="post">
        <div class="content__table table">
            <h1 class="table__title">All categories</h1>
            <div class="table__body">
                <ul class="table__list list-table">
                    <li class="list-table__items title">
                        <div class="table__item title">id</div>
                        <div class="table__item title">Category</div>
                        <div class="table__item title"></div>
                    </li>
                    {% for category in categories %}
                    <li class="list-table__items">
                        <div class="table__item">{{category.id}}</div>
                        {% if rename_button %}
                        {% if category.id == rename_id %}
                       <form action="{{url_for('admin.dashboard_categories')}}" method="get">
                           <input type="text" class="table__item" name="input_rename" value="{{category.name}}">
                           <button type="submit" class="table__item" name="submit_rename" value="submit_rename">Submit</button>
                       </form>
                        {% endif %}
                        {% else %}
                        <div class="table__item">{{category.name}}</div>

                        {% endif %}
                        <div class="item-table__form">
                            <form action="{{url_for('admin.dashboard_categories_all')}}" method="post" class="item-table__form">
                                <button type="submit" class="table__item item-table_button" name="rename" value="{{category.id}}">Rename</button>
                                <button type="submit" class="table__item item-table_button_secondary" name="delete" value="{{category.id}}">Delete</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </form>
  </div>
</div>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
  }
  .formbold-mb-3 {
    margin-bottom: 15px;
  }
  .formbold-relative {
    position: relative;
  }
  .formbold-opacity-0 {
    opacity: 0;
  }
  .formbold-stroke-current {
    stroke: currentColor;
  }
  #supportCheckbox:checked ~ div span {
    opacity: 1;
  }

  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
    .formbold-form-wrapper form {
    margin-top: 0px;
  }

  .formbold-img {
    margin-bottom: 45px;
  }

  .formbold-form-title {
    margin-bottom: 8px;
  }
  .formbold-form-title h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #07074d;
  }
  .formbold-form-title p {
    font-size: 16px;
    line-height: 24px;
    color: #536387;
    margin-top: 12px;
  }

  .formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    align-items: end;
  }
  .formbold-input-flex > div {
    width: 40%;
  }
  .formbold-form-input {
    text-align: left;
    width: 100%;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  .formbold-form-label {
    color: #536387;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }

  .formbold-checkbox-label {
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    line-height: 24px;
    color: #536387;
  }
  .formbold-checkbox-label a {
    margin-left: 5px;
    color: #6a64f1;
  }
  .formbold-input-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .formbold-checkbox-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    margin-top: 2px;
    border: 0.7px solid #dde3ec;
    border-radius: 3px;
  }

  .photos {
    display: flex;
    flex-direction: row;
    gap: 10px;

    justify-content: center;
    align-items: center;
  }
.photos input {
  padding: 10px;
  }

  .formbold-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
    margin-top: 32px;
    width: 30%;
  }
  .drafts {
    background-color: #BDC5CC;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .item-table__form{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

.table__item{
    display: flex;
    align-items: center;
    }

</style>

{% endblock %}
