<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>FoodClub</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class="header__body">
                    <a href="{{url_for('main.home')}}" class="header__logo">
                    Food Club
                    </a>
                    <nav class="header__menu menu">
                    <div class="menu__body">
                        <ul class="menu__list">
                            {% for key, value in menu.items() %}
                            {% if user.is_authenticated %}
                            {% if key != 'Sign In' and key != 'Sign Up' %}
                            <li class="menu__item">
                                <a href="{{ value }}" class="menu__link">{{ key }}</a>
                            </li>
                            {% endif %}
                            {% else %}
                            {% if key == 'Sign In' or key == 'Sign Up' %}
                            <li class="menu__item">
                                <a href="{{ value }}" class="menu__link">{{ key }}</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% if user.role == 'admin' or user.role == 'moderator' %}
                            <li class="menu__item">
                                <a href="{{ url_for('admin.dashboard') }}" class="menu__link">Admin panel</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    </nav>
                </div>
            </div>
        </header>
        <main class="page">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == "success" %}
            <div class="page__flashes flash success" role="alert">
                <p class="flash__text">{{ message }}</p>
                <!--  <button type="button" class="close" data-dismiss="alert">
                     <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            {% else %}
            <div class="page__flashes flash error">
                <p class="flash__text">{{ message }}</p>
               <!-- <button type="button" class="close" data-dismiss="alert">
                     <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="page__container">
                 <h5 class="hello">User {{user.firstname}}</h5>
                {% block content %}

                {% endblock %}
            </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
               <div class="footer__body">
                    <div class="footer__content content-footer">
                        <a href="/" class="content-footer__title">Food Club</a>
                        <div class="content-footer__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint optio inventore blanditiis vel quos sit quis eligendi recusandae reprehenderit ipsam sunt excepturi, ea odit id repudiandae ab nulla sequi tempore?
                            </p>
                        </div>
                    </div>
                    <div class="footer__menu menu-footer">
                        <div class="menu-footer__item">
                        <div class="menu-footer__title">Menu</div>
                        <ul class="menu-footer__list list-menu-footer">
                            {% for key, value in menu.items() %}
                            {% if user.is_authenticated %}
                            {% if key != 'Sign In' and key != 'Sign Up' %}
                            <li class="list-menu-footer__item">
                                <a href="{{ value }}" class="list-menu-footer__link">{{ key }}</a>
                            </li>
                            {% endif %}
                            {% else %}
                            {% if key == 'Sign In' or key == 'Sign Up' %}
                            <li class="list-menu-footer__item">
                                <a href="{{ value }}" class="list-menu-footer__link">{{ key }}</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    </div>
                    <ul class="menu-footer__social social-menu-footer">
                            <li class="social-menu-footer__item">
                                <img src="../static/images/01.svg" alt="social">
                            </li>
                            <li class="social-menu-footer__item">
                                <img src="../static/images/02.svg" alt="social">
                            </li>
                            <li class="social-menu-footer__item">
                                <img src="../static/images/03.svg" alt="social">
                            </li>
                            <li class="social-menu-footer__item">
                                <img src="../static/images/04.svg" alt="social">
                            </li>
                    </ul>
                </div>
               </div> 
               <div class="footer__copy">©2023 Petrovych</div>
        </footer>
    </div>
</body>
</html>