{% extends 'base.html' %}

{% block content %}
<div class="page__recent">
  <div class="page__title"><h1>All categories</h1></div>
  <div class="page__cards">
  {% for category in categories %}
  <div class="page__card card card_category">
  <div class="card_category__image">
    <img src="data:image/jpeg;base64,{{ category.image }}" alt="image">
  </div>
      <div class="body-card__title body-card__title_category">
        <a href="{{ url_for('main.category', name = category.name)}}" class="body-card__link body-card__link_category">{{ category.name }}</a>

      </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}