{% extends 'base.html' %}

{% block content %}
<div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">

<!--    <img src="your-image-url-here.jpg">-->

    <form action="/new-recipe" enctype="multipart/form-data" method="post">
      <div class="formbold-form-title">
        <h2 class="a">New recipe</h2>
        <p>
          Here you can add new recipe.
        </p>
      </div>

      <div class="formbold-input-flex">
        <div>
          <label for="dish_name" class="formbold-form-label">
            Dish name
          </label>
          <input
            type="text"
            name="dish_name"
            id="dish_name"
            class="formbold-form-input"
          />
        </div>
        <div>
          <label for="cooking_time" class="formbold-form-label"> Cooking time </label>
          <input
            type="text"
            name="cooking_time"
            id="cooking_time"
            class="formbold-form-input"
            value="20 min"
          />
        </div>
      </div>


      <div class="formbold-mb-3">
        <label for="description" class="formbold-form-label">
          Dish description (something about meal)
        </label>
        <textarea
                rows="10"
                name="description"
                id="description"
                class="formbold-form-input"></textarea>
      </div>
      <div class="formbold-mb-3">
        <label for="description" class="formbold-form-label">
          Enter ingredients: ( Example" Ingredient: 500g " (press ENTER))
        </label>
        <textarea
            rows = '10'
            name="ingredients"
            id="ingredients"
            class="formbold-form-input"
            placeholder="1. Potatoes: 0.5 kg;">
        </textarea>
      </div>

      <div class="photos">
        <img src="/static/images/new_recipe/01.svg" alt="add photo">
        <label for="photo">Add photos</label>
        <input type="file" name="photo" id="photo" accept=".jpeg, .png, .jpg">
      </div>

      <div class="container_check">
        <ul class="ks-cboxtags">
            {% for category in categories %}
            <li><input type="checkbox" name="checkbox" id="{{category.name}}" value="{{category.id}}"><label for="{{category.name}}">{{category.name}}</label></li>
            {% endfor %}
          </ul>
      </div>

      <button type="submit" class="formbold-btn drafts" name="button" value="Drafts">Save to drafts</button>
      <button type="submit" class="formbold-btn" name="button" value="need-submit">Send to review</button>
    </form>
  </div>
</div>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family:;
  }
  .formbold-mb-3 {
    margin-bottom: 15px;
  }
  .formbold-relative {
    position: relative;
  }
  .formbold-opacity-0 {
    opacity: 0;
  }
  .formbold-stroke-current {
    stroke: currentColor;
  }
  #supportCheckbox:checked ~ div span {
    opacity: 1;
  }

  .formbold-main-wrapper {
    background: #FFF9F4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    padding: 20px;
  }

  .formbold-img {
    margin-bottom: 45px;
  }

  .formbold-form-title {
    margin-bottom: 30px;
  }
  .formbold-form-title h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #07074d;
  }
  .formbold-form-title p {
    font-size: 16px;
    line-height: 24px;
    color: #536387;
    margin-top: 12px;
  }

  .formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }
  .formbold-input-flex > div {
    width: 50%;
  }
  .formbold-form-input {
    text-align: left;
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  .formbold-form-label {
    color: #536387;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }

  .formbold-checkbox-label {
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    line-height: 24px;
    color: #536387;
  }
  .formbold-checkbox-label a {
    margin-left: 5px;
    color: #6a64f1;
  }
  .formbold-input-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .formbold-checkbox-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    margin-top: 2px;
    border: 0.7px solid #dde3ec;
    border-radius: 3px;
  }

  .photos {
    margin: 0 auto;
    border: 1px dashed var(--text, #3C322E);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 275px;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
  }
.photos input {
  padding: 10px;
  }

  .formbold-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
    margin-top: 25px;
  }
  .drafts {
    background-color: #BDC5CC;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
</style>

{% endblock %}
